@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Monteserrat', sans-serif;
    font-size: 16px;
}

.col-sm-6{
    border-radius: 20px;
    justify-content: center;
    border-color: #dc143c;
    
}

.container-fluid{
    
    padding: 15px;
    
}
.navbar{
    background-color: rgb(163, 1, 1);
    position: fixed;
    font-size: 15px;
    
    
}

.register-parent{
    
    width: 70%;
    align-items: center;
    justify-content: center;
    align-content: center;
    

    
}



.register{
    width: 100%;
    max-width: 400px;
    padding:30px;
    background-color: rgba(163, 1, 1, 0.288);
    justify-content: center;
    align-items: center;
    border-radius: 10%; 
    margin-left: 110px;
    margin-top: 100px;
    min-height: 60vh; 
    position: inherit;
    min-height: 50vh;
    border-color: black;
  
}

.mb-3{
    width: 100%;
    align-items:center;
    justify-content: center;
    margin: 10px

}

.password{
    
    display:inline-block;
}
.btn{

    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
    margin: 50px;
    border-radius:50%;
    border-bottom:rgb(14, 2, 2);
    padding: 10px;
    font-size: .9rem;
    font-weight: 800;
    transition: .5s; 
    width: 60%;
    justify-content: center;
    

} 
.btn button:hover{
    transform: scale(1.02);
   
    color: #dc143c;
}

.hero {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)),
        url(./image/exercicios-fisicos-no-periodo-de-quarentena-como-e-o-que-fazer.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}


.hero-title {
    font-size: 7vmin;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
    

 

}





/******************* mobile **********************/
@media(max-width: 720px) {

   
 

    .register-parent {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}